* {
    padding: 0;
    margin: 0;
  }
  

 body {
    background-image: linear-gradient(-225deg, #FF3CAC 0%, #562B7C 52%, #2B86C5 100%);
    min-height: 100vh;
    font-family: 'Shadows Into Light',cursive;

 }
  
  button {
    height: fit-content;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: #04202c;
    background-color: #c9d1c8;
  }
  
  .app {
    width: 600px;
    margin: auto;
    padding-top: 50px;
    color:white;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  }
  
  .input-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0px 0px 10px 0px; 
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
  }
  
  .to-do-input input {
    width: 250px;
    font-family: inherit;
    font-size: 18px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 12px;
    outline: none;
  }
  
  .to-do-input button {
    color: #5b7065;
    font-family: inherit;
    border: none;
    padding: 12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
 
  main img{
    mix-blend-mode: multiply;
    height: 360px;
    position: absolute;
    left: 60px;
  
  }
  .to-do-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .to-do-list i {
    color: #c9d1c8;
    cursor: pointer;
  }
  
  .to-do-list .fa-pen-to-square {
    color: #adbbb3;
  }
  
  .to-do-list button {
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
  }
  
  .input-controller {
    display: flex;
    gap: 10px;
  }
  
  .input-controller textarea {
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    line-height: 1.4;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: inherit;
    transition: all 0.30s ease-in-out;
  }
  
  textarea:focus {
    box-shadow: 0 0 5px white;
  }
  
  .edit-controller {
    display: flex;
    gap: 5px;
  }
  
  .update-controller {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .app {
      width: 95%;
      text-align: center;
    }
  
    .input-header {
      flex-direction: column;
      padding-bottom: 20px;
    }
  
    .to-do-input {
      display: flex;
    }
  
    .to-do-input input {
      width: 320px;
    }
  
  }
  
  @media only screen and (max-width: 600px) {
    .to-do-input input {
      width: 200px;
    }
  }